body{
	font-family: Raleway;
	padding:0;
}

/*Titres*/
#titre{
	font-size: 5rem;
	font-weight: 100;
	margin-top: 100px;
	text-align: center;
}

#titre span{
	font-weight: 900;
	color:#007EA7;
}

/*Accroche titre*/
.txt{
	font-size: 2rem;
	font-weight: 200i;
	text-align: center;
}

/*Slider*/
.diapo
{
	width: 60%;
	margin-bottom: 50px;
	margin-top: 50px;
}

/*Texte sous slider*/
.paragraphe{
	text-align: justify;
	margin-top: 30px;
	margin-bottom: 30px;
	padding:0;
}

/*Bloc inscription*/
.blocDroit{
	background-color: #007EA7;
	height: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	text-align: center;
	color:#FFF;
}

/*Suppression padding classes Bootstrap*/
.container, .col-md-5, .col-md-7{
	padding:0;
}