body{
	font-family: Raleway;
	padding:0;
	background-color: #007EA7;
}
h1{
	font-weight: bold;
}
h2{
	font-family: Raleway;
	color: #007EA7;
	font-weight: 900;
	margin-bottom: 0;

}
.bleue{
	color: #007EA7;
}
h3.slogan{
	font-family: Raleway;
	color: #007EA7;
	font-size: 12px;
	margin-top: 0;
	margin-left: 4%;
}
.fonddiv{
	
	border-radius: 30px;
	background-color: white;
}
iframe{
	margin-bottom: 20px;
}